@import '../../../styles.scss';

.navbar,
footer {
    background-color: $second-color;
}

body {
    background: $fourth-color;
}

.navbar-brand {
    max-height: 300px;
    max-width: 150px;   
}

.navbar-dark .navbar-nav .nav-link {
    color: $fifth-color;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $third-color;
}


.navbar-dark .navbar-text {
    color: $fifth-color;
}

.navbar-toggler {
    border-color: transparent;
}

#hero {
    margin-top: 40px;
}

.img {
    width: 100%;
    height: 100%;
}

.bg {
    background: $fifth-color;
}

.container-footer {
    width: 100%;
}

.column-footer {
    display: inline-block;
    box-sizing: border-box;
    margin: 2%;
    margin-left: 12%;
    padding-left: 2%;

}

.links a:hover {
    color: $third-color;
}

//cambio manuale griglie bootstrap

@media screen and (min-width: 768px) {
    .col-md-6 {
        width: 50% !important;
    }
}