// @import '../../../styles.scss';

$first-color: #022B3A;
$second-color: #1F7A8C;
$third-color: #BFDBF7;
$fourth-color: #E1E5F2;
$fifth-color: #FFFFFF;

.bg-bk {
    background: #E1E5F2;
}

.cliccable-btn{
    color: $fifth-color !important;
    background-color: $second-color !important;
  }

  .cliccable-btn:hover{
    background-color: $first-color !important;
  }


.margin {
    background: #E1E5F2;
}

* {
    color: #022B3A !important;
}

h2 {
    font-family: 'Infinity-Medium';
}

h5 {
    font-family: "Infinity-Regular";
}

p {
    font-family: "Infinity-Light";
}
